@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #414071;
}
body h1 {
  color: rgb(119, 193, 219);
}

.movie {
  display: inline-block;
}

.movieImg {
  width: 300px;
  height: 400px;
  z-index: 1;
}

.movieIntro {
  position: relative;
  margin-top: -60px;
  width: 300px;
  height: 60px;
  background-color: rgb(41, 40, 71);
  color: white;
  z-index: 2;
}

.movieIntro div {
  font-size: 20px;
}
